{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <img class="image" alt="photo of someone witing on post-it notes" src="static/tasks.jpg">
        <p>Thinking about the final goal of something you want to achieve can feel overwhelming. But by breaking it down into smaller, more manageable tasks, you can make the process feel more achievable.</p>
        <p>This web application helps you achieve your goals <strong>One Step at a Time.</strong>. You can: </p>
        <ul>
            <li>Manage and view your tasks.</li>
            <li>Track your task completion progress with statistics.</li>
            <li>Find useful links to stay motivated and productive.</li>
        </ul>
        <p>And remember: small steps lead to big results!</p>
        <p>To get started, use the navigation bar above to get to your tasks, view your past tasks, analize your statistics, or access useful links.</p>

        <footer class="text-center mt-5">
            <p class="text-muted">Images courtesy of <a href="https://www.pexels.com">Pexels</a>, with special thanks to the photographers Dana Tentis and Bruno Bueno.</p>
        </footer>
    </div>
{% endblock %}
