{% extends "layout.html" %}

{% block title %}
    Useful Links
{% endblock %}

{% block content %}
    <h2>Useful Links</h2>

    <div class="container mt-4">
        <h4>TEDx Talks</h4>
        <ul class="list-group mb-4">
            <li class="list-group-item"><a href="https://www.youtube.com/watch?v=19sydkboOyU">Small Consistent Actions, by Sam Demma</a></li>
            <li class="list-group-item"><a href="https://www.youtube.com/watch?v=qxGapZbbI38">To Achieve Success, Start Detecting Your Small Wins, by Mehrnaz Bassiri</a></li>
            <li class="list-group-item"><a href="https://www.youtube.com/watch?v=c9Z9UBQKuB8">Achieving big goals with small steps, by Mark Steel</a></li>
        </ul>

        <h4>Articles</h4>
        <ul class="list-group mb-4">
            <li class="list-group-item"><a href="https://hbr.org/2011/05/the-power-of-small-wins">The Power of Small Wins, by Teresa M. Amabile and Steven J. Kramer</a></li>
            <li class="list-group-item"><a href="https://www.linkedin.com/pulse/small-steps-how-little-actions-can-lead-big-changes-asadova-mba">Small Steps: How Little Actions Can Lead to Big Changes, by Dilara Asadova</a></li>
            <li class="list-group-item"><a href="https://beyouonlybettereveryday.medium.com/the-power-of-taking-small-steps-to-achieve-your-goals-3b56d58caf9c">The Power of Taking Small Steps to Achieve Your Goals, by Linda OBrien</a></li>
        </ul>

        <h4>Relaxing Sounds</h4>
        <ul class="list-group mb-4">
            <li class="list-group-item"><a href="https://www.youtube.com/watch?v=xNN7iTA57jM">Forest</a></li>
            <li class="list-group-item"><a href="https://www.youtube.com/watch?v=vPhg6sc1Mk4">Ocean</a></li>
            <li class="list-group-item"><a href="https://www.youtube.com/watch?v=q76bMs-NwRk">Rain</a></li>
        </ul>
    </div>

{% endblock %}
